body {
	background: url(../images/banner-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}


.logo{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	text-align: center;
	padding: 50px 0;
}


.logo img {
	display: inline-block;
	max-width: 21%;
}

.content-field {
	background: rgba(255,255,255,0.5);
	display: table;
	margin:0 auto; 
	width: 50%;
	text-align: center;
	padding: 45px 75px
}


.content-field h3{
	color: #d30a0a;
	font-size: 30px;
	
}

.content-field p {
	color: #003368;
	font-size:22px;
}

.content-field .form-group {
	width: 90%;
	float: left;


}

.content-field .button {
	width: 20%;
	float: right;
}

.content-field span {
	display: inline-block;
	width: 100%;
	font-size: 15px;
	color: #000;
}

.mc-field-group input,.button .btn {
	height: 40px;
	border-radius: 0px;
}

.button .btn {
	width: 100%;
	background: #003368;
	color: #fff;
	border: 1px #003368 solid;
}



.mc-field-group {
	width: 80%;
	float: left;
}

.mc-field-group input {
	width: 100%;
	border-radius: 0px;
}


.alert {
	display: inline-block;
	width: 100%;
	font-size: 18px;
	margin-top: 10px;
}


@media screen and (max-width: 767px) {

	.logo img {
		width: 100%;
		max-width: 100%;
		padding:  0 15px ;
	}

	.content-field {
		width: 100%;
		padding: 15px;
	}

	.content-field h3 {
		font-size: 22px;
	}


		.content-field p {
		font-size: 16px;
	}


	.content-field .form-group {
		width: 80%;
	}
	.content-field .button {
		width: 30%;
	}

	.mc-field-group {
		width: 70%;
	}
}


@media screen and (min-width: 768px) and (max-width: 1024px){

	.content-field {
		width: 100%;
		padding: 0px;
	}

	.logo img {
		max-width: 50%;
	}

	.content-field {
		display: inline-block;
		padding: 45px 75px;
	}
}